*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(
    90deg,
    rgb(179, 28, 128) 30%,
    rgba(100, 115, 255, 1) 100%
  );
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1{
    margin: 28px;
}

input{
    outline: none;
}

.todoForm input{
    height: 30px;
    width: 300px;
}
.displayItem{
  width: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}




.buttonTodo{
    margin: 20px;
    height: 30px;
}



  